* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #001e4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #dddddd;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

#result {
    text-align: end;
    opacity: 0.8;
    color: azure;
    margin: 10px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input#equal {
    width: 145px;
}

form input.operator {
    color: #ff8a31;
}

#equal,
#clear,
#remove1 {
    color: aqua;
}

form input:disabled,
#equal:disabled,
#clear:disabled,
#remove1:disabled {
    color: gray;
}