:root {
    --main-color: #f53192;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    overflow: hidden;
    color: rgb(71, 30, 36);
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.musicPlayer {
    background-color: var(--main-color);
    width: 400px;
    height: 100%;
    /* margin: auto; */
    padding: 25px 35px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

#songImg {
    width: 220px;
    border: 8px solid var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.musicPlayer h1 {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 20px;
}

.musicPlayer p {
    font-size: 14px;
    color: var(--secondary-color);
}

#progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: var(--secondary-color);
    /* Set initial background color to white */
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--main-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid var(--secondary-color);
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-color);
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: var(--main-color);
}



.timing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timing p {
    color: var(--main-color);
}

.content {
    position: fixed;
    bottom: 120px;
    max-width: 400px;

}