body {
    background-color: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
}

.skil {
    /* background-color: ; */
    height: 160px;
    width: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.outer {
    position: relative;
    /* Add this to create a positioning context for the inner circle */
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /* padding: 0px; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skill 2s linear forwards;
}

svg {
    width: 120%;
    height: 120%;
}

@keyframes skill {
    100%{
        stroke-dashoffset: 165;
    }
}

#ui{
    animation: ui 2s linear forwards;
}
@keyframes ui {
    100% {
        stroke-dashoffset: 165;
    }
}
